.node {
    cursor: pointer;
    stroke: darkgrey;
  }
  
.node:hover {
  stroke: #3798ED;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
  stroke: darkgrey;
}


/* 
.node--leaf 
.node--root 
*/
.label {
  pointer-events: none;
}